<%= provide(:title, "最新问题") %>

<div class="row">
  <div class="col-md-8 latest-questions">
    <div class="header-title">
      最新问题
    </div>
    <div class="questions-box">
      <%- @questions.each do |question| %>
        <div class="question">
          <div class="title"><%= link_to question.title, question  %></div>
          <div class="user">
            <%= link_to question.user.username, "#" %> 添加了问题
          </div>
          <div class="content">
            <%= question.description %>
          </div>
          <div class="info">
            <%= question.created_at %>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
  <div class="col-md-4">
    b
  </div>
</div>

