<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - 知乎clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :styles %>
</head>
<body  data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">

  <%= render "shared/header" %>
  
  <div id="body" class="container">
    <%- flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <%= msg %>
      </div>
    <%- end %>

    <%= yield %>
  </div>



  <footer>
    
  </footer>

  <%= yield :scripts %>
</body>
</html>
